<html>
  <head>
    <title>Loan Approval ML project</title>
    <link href="{{url_for('static', path='/bootstrap.css')}}" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div class="alert alert-dark text-center" role="alert">
        Loan Approval Machine Learning Project
      </div>

      <div class="container">
        <div class="jumbotron">
          {% if data.Result == 1 %}
          <h1 class="display-4">Congratulation!</h1>
          <p class="lead">
            Your Loan Amount for {{data.LoanAmount}} is Successfully Approved.
          </p>
          {% else %}
          <h1 class="display-4">Sorry!</h1>
          <p class="lead">Your Loan Application is Rejected</p>
          {% endif %}
          <hr class="my-4" />
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
